.chat{
    width:300px;
    height: 350px;
    border: 2px solid black;
    overflow: hidden;
    padding: 10px;
}
#home_page{
    margin-top: 40px;
}
#event_info{
    margin-top: 40px;
}
#edit_profile{
    margin-top: 40px;
}

html, body, #map-canvas, #directions-canvas{
    height: 100%
}

.ui-content, #mapPage, #directionsPage{
    height: inherit;
}